<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>POC-SalesForce</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <img src="img/spinner.gif" id="img" style="display:none"/>

    <link href="https://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />
    <!-- The main CSS file -->
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/codeReview.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/script.js"></script>

</head>

<body ng-app ng-controller="OrderFormController">
    <!--<h1 class="errorHeader">List of Classes</h1>-->
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight"> List  </span> of Classes</h1>
            </div>

        </div>
    </header>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{selectedClassName}}</h4>
                </div>
                <div class="modal-body errorDetailPannel">
                    <table class="table table-sm table-inverse table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Line</th>
                                <th>Review Feedback</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="eachClass in selectedClassErrDetails">
                                <td>{{eachClass.lineNumber}}</td>
                                <td>{{eachClass.reviewFeedback}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <form>
        <ul class="col-md-12 col-lg-12">
            <li ng-click="showErrorDetails(key)" class="col-sm-12 col-md-4 col-lg-4 eachClassCell" ng-repeat='(key,value) in sampleJSON'>
                <div title="{{key}}" class="classNameLabel">{{key}}</div>
                <div title="Error count" class="errorContainer">
                    <span class="errorCount">{{value.length}}</span>
                    <span class="errorMeter" ng-repeat="eachClass in value | limitTo: 10"></span>
                </div>
            </li>
        </ul>

    </form>
    <footer>
        <p>Salesforce Free Code Review, Copyright &copy; 2017</p>
    </footer>
</body>

</html>