/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:center;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}


/*-------------------------
	The order form
--------------------------*/


form{
	background-color: #61a1bc;
	border-radius: 2px;
	box-shadow: 0 1px 1px #ccc;
/*	width: 400px;*/
/*
	padding: 35px 60px;
	margin: 80px auto;
*/
}

.errorHeader{
	color:#fff;
	font-size:64px;
	font-family:'Cookie', cursive;
	font-weight: normal;
	line-height:1;
	text-shadow:0 3px 0 rgba(0,0,0,0.1);
    margin-top: 0;
    background-color: #464242
}

form ul{
	list-style:none;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align: left;
/*	margin:20px 35px 15px;*/
}

form ul li{
	padding:20px 30px;
	background-color:#a4a3ab;
	margin-bottom:8px;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	cursor:pointer;
}

form ul li span{
	float:right;
}

form ul .eachClassCell {
    max-width: 30%;
}
form ul li.active{
	background-color:#8ec16d;
}

div.total{
	border-top:1px solid rgba(255,255,255,0.5);
	padding:15px 30px;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	color:#fff;
}

div.total span{
	float:right;
}
.eachClassCell{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.classNameLabel{
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.errorMeter{
    display: inline-block;
    width: 30px;
    height: 30px;
    color: red;
    background-color: #d51818;
}
.errorContainer{
    float: left;
    position: relative;
}
.errorCount{
    position: absolute;
    left: 10px;
}
.errorDetailPannel{
    color: #ca3939;
    font-size: 15px;
}

.errorDetailPannel thead{
    color: #393939;
}
#accordion{
    clear: both;
}
#accordion .panel-heading { padding: 0;}
#accordion .panel-title > a {
	display: block;
/*	padding: 0.4em 0.6em;*/
    outline: none;
    font-weight:bold;
    text-decoration: none;
    text-align: center;
}

#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
/*    content:"\e113";*/
/*    float: left;*/
    font-family: 'Glyphicons Halflings';
/*	margin-right :1em;*/
}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
/*    content:"\e114";*/
}

.modal-header {
    background-color: #656161;
    color: #fff;
    font-weight: bold;
}
.modal-dialog {
    width: 750px;
    margin: 64px auto;
}
.modal-header .close {
    margin-top: -2px;
    color: #fff;
    opacity: 1;
}
tr th{
    text-align: center;
}